<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de votos</title>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col text-start ms-5">
                <h1 class="mb-0 ms-5 ">Tabela de votos</h1>
            </div>
            <div class="col text-end me-5">
                
                <div class="col text-end me-5">
                    <a href="{{ url_for('VotesList', decrypted='true' if not show_decrypted else 'false') }}" class="btn btn-primary btn-lg me-4">
                        {% if show_decrypted %}
                            Criptografar
                        {% else %}
                            Descriptografar
                        {% endif %}
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col mt-5">
            
                <table class="table table-striped text-center">

                    <tr>
                        <th> ID </th>
                        <th> Data </th>
                        <th> Usuário </th>
                        <th> Voto </th>
                    </tr>

                    {% for row in votes%}

                    <tr class="align-middle"> 
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>
                            {% if show_decrypted %}
                                {{ row[1] }}
                            {% else %}
                                {{ row[1] }} 
                            {% endif %}
                        </td>
                    </tr>
                    
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    <a href="{{url_for('Index')}}" class="btn btn-primary pageBtns">Votação</a>
    
</body>
</html>